<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwx.usbconnect.usbconncet">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.sec.MDM_APP_MGMT" />

    <!-- <uses-permission android:name="android.permission.HARDWARE_TEST" /> -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/tuoluo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5923b6a807fe654fdf000a83" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="test" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.UsbMainActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".ui.activity.USBMain2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.FTPMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.BlueToothTTActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NormalTheme"></activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <service android:name=".ui.brocast.TcpAIDLService" />
        <service android:name=".ui.brocast.TcpService" />

        <activity android:name=".ui.activity.UseInfoActivity"
            android:theme="@style/AppThemeNo"></activity>
    </application>

</manifest>